.success_section{
    grid-area: body;
    padding: 10%;
    display: grid;
    grid-template-areas: 
        "h2"
        "button";
    background-color: rgb(245, 245, 245);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.submission_header{
    grid-area: h2;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new_feedback_button{
    display: flex;
    flex-direction: column;
    align-items: center;
}