body {
  font-family: Roboto, sans-serif;
  display: grid;
  border: 1px solid lightgrey;
  border-radius: 20px;
  box-shadow: 2px 0px 10px darkgrey;
  width: 50%;
  height: 50%;
  margin: 10% 25%;
  grid-area: app;
  text-align: center;
}