body {
  margin: 0;
  padding: 0;
  font-family: 'Inter Tight', sans-serif;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "app";
  background-image: url('https://images.unsplash.com/photo-1566044366987-6de6ca566441?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80');
  background-size: cover;
}


